<style>
    .data {
        background-color: #78aedd;
        border-radius: 20px;
        max-width: 60%;
        text-align: center;
    }
</style>

<div class="data">
    <%if(email){%>
        <h2>
            You are currently logged in with:
            <%=email%>
        </h2>
        <%}%>
</div>