<style>
    .header {

        /* padding: 10px; */
        margin: 10px 0;
        text-align: center;
        max-width: 100%;
    }
</style>

<div class="header">
    <%if(username){%>
        <h1>
            Welcome
            <%=username%>
        </h1>
        <%}%>
</div>